name: build

on:
  push:
    branches: main

  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.18]
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
      - name: Build CLI
        run: make build-linux-amd64
      - name: Run Unit Tests
        run: make test
      - name: Check Version
        run: bin/linux/amd64/oras version
      - name: Run tests
        run: go test -race -v -coverprofile=coverage.txt .
      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v3
      - name: Upload Coverage Report
        uses: actions/upload-artifact@master
        with:
          name: oras-coverage-report-${{ github.sha }}
          path: .cover/
        if: always()
